transformers
sentence-transformers
evaluate
sentencepiece
deepspeed
accelerate
bitsandbytes
openai
tiktoken
wandb
langchain
llama-index
rouge_score
pytrec_eval
flash_attn>=2.1.0
gradio==3.50.2
gradio_client==0.6.1